<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/bundle.js'></script>
</head>
<body>
<div class="exercises">
    <h3>Exercises</h3>
    <% for (var i = 0; i < exercises.length; i++) { %>
    <a href='<%= exercises[i] %>'><%= exercises[i] %></a>
    <% } %>
</div>

<div class="gravatar gravatar-show">
    <button>Show Gravatar</button>
</div>

<script id="dialog-template" type="template/text">
<div class="gravatar">
    <h3 class="title">Please, provide your email</h3>
</div>
<div class="gravatar">
<div>
  Email: <input class="email" type="email" >
</div>
<div>
  <button class="submit">Submit</button>
  <button class="cancel">Cancel</button>
</div>
</div>
</script>

<hr />
<div class="giphy">
    <form>
        Search: <input type="text" class="search-giphy" />
        <button>Send</button>
    </form>

    <img class="search" />
    <img class="random" />
    <img class="anything" />
</div>

</body>
</html>
